<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
</head>
<body>
<h1>添加新图书</h1>

<form th:action="@{/books/add}" method="post">
    书名：<input type="text" name="name"/><br/>
    作者：<input type="text" name="author"/><br/>
    分类：<input type="text" name="category"/><br/>
    状态：<input type="text" name="status" placeholder="可填 可借/已借"/><br/>

    <button type="submit">提交</button>
</form>

<a th:href="@{/books/list}">返回列表</a>
</body>
</html>
tml>